.idea/
.RDataFiles/
.Rproj.user/

*.aux
*.log
*.synctex.gz
desktop.ini
.RDataTmp
.Rhistory
.RData

EMNLP Paper/
KaggleSVM/sandbox
KaggleSVM/TODO_SU20.md
/KaggleSVM/data/src_new/
KaggleSVM/kaggle_toxic_sandbox.py
